@using SimpleCmsBlazor.Services
@layout Admin
@page "/admin/library"

<div class="flex">
    <!-- Sidebar -->
    <div class="sidebar">
        <HxTooltip Text="Show/hide folders">
            <HxButton OnClick="@(() => showFolders = !showFolders)">
                <HxIcon Icon="@BootstrapIcon.List" CssClass="fa-2x" />
            </HxButton>
        </HxTooltip>
        <HxTooltip Text="Upload">
            <HxButton OnClick="@Upload">
                <HxIcon Icon="@BootstrapIcon.CloudUpload" CssClass="fa-2x" />
            </HxButton>
        </HxTooltip>
    </div>
    <!-- End Sidebar -->
    <!-- Folders -->
    @if (showFolders)
    {
        <div class="folders">
            <HxContextMenu Icon="@BootstrapIcon.ThreeDots" CssClass="float-end" IconCssClass="fa-lg">
                <HxContextMenuItem OnClick="@AddFolder">Add Folder</HxContextMenuItem>
                @if (CanRename())
                {
                    <HxContextMenuItem OnClick="@RenameFolder">Rename @currentFolder?.Name</HxContextMenuItem>
                }
                @if (CanDelete())
                {
                    <HxContextMenuItem OnClick="@DeleteFolder">Delete @currentFolder?.Name</HxContextMenuItem>
                }
                <HxContextMenuItem OnClick="@Reload">Reload folders</HxContextMenuItem>
            </HxContextMenu>
            <h5 class="mt-0">Folders</h5>
            <MediaTree SelectedFolder="@currentFolder" SelectedChanged="@FolderChange" NodesChanged="Reload"></MediaTree>
        </div>
    }
    <!-- End Folders -->
    <!-- Body -->
    <div class="body">
        @if (currentFolder != null)
        {
            <h5>Media for folder: @currentFolder.Name</h5>
        }
        @if (currentFolder != null && images.Count > 0)
        {
            <MediaList Images="@images" CanSort="true" CanEdit="true" CanDelete="true" CanMove="true" Moved="Move" Deleted="Delete" Edit="Edit" />
        }
    </div>
    <!-- End Body -->
</div>
<FolderSelect @ref="folderSelect" />
<TextDialog @ref="textDialog" ButtonText="@ButtonText" Title="@Title" PromptText="@PromptText" />
<MaterialFileUpload @ref="upload" folder="currentFolder" />
