@using SimpleCmsBlazor.Services
@layout Admin
@page "/admin"

<div class="flex">
    <!-- Sidebar -->
    <div class="sidebar">
        <HxTooltip Text="Show/hide pages">
            <HxButton OnClick="() => showPages = !showPages">
                <HxIcon Icon="@BootstrapIcon.List" CssClass="fa-2x" />
            </HxButton>
        </HxTooltip>
    </div>
    <!-- End Sidebar -->
    <!-- Pages -->
    @if (showPages)
    {
        <div class="pages">
            <HxContextMenu Icon="@BootstrapIcon.ThreeDots" IconCssClass="fa-lg" CssClass="float-end">
                <HxContextMenuItem OnClick="@AddPage">Add Page</HxContextMenuItem>
                @if (ActivePage != null)
                {
                    <HxContextMenuItem OnClick="@AddChild">Add Child Page</HxContextMenuItem>
                }
                @if (CanDelete())
                {
                    <HxContextMenuItem OnClick="@DeletePage">Delete @ActivePage?.Name</HxContextMenuItem>
                }
            </HxContextMenu>
            <h5 class="mt-0">Pages</h5>
            <p>Drag and drop pages to rearrange order.</p>
            @if (Site != null)
            {
                <CascadingValue Value="@this">
                    <AdminContentItem Node="@Site" ActivePage="@ActivePage" NodeClick="@NodeClick" ExpandedNodes="@expandedNodes" />
                </CascadingValue>
            }
        </div>
    }
    <!-- End Pages -->
    <!-- Body -->
    <div class="body">
        <div class="float-end">
            <HxButton Color="@ThemeColor.Primary" OnClick="@SaveAsync">Save site</HxButton>
        </div>
        @if (ActivePage is not null)
        {
            <h5 class="mt-0" @onclick=@StateHasChanged>Edit Page: @ActivePage.Name</h5>
        }
        else
        {
            <h5 class="mt-0" @onclick=@StateHasChanged>Edit Page (No page selected)</h5>
        }
        @if (Site != null && Site.Pages != null && Site.Pages.Count > 0 && ActivePage != null)
        {
            <h2 class="container-fluid">Properties for @ActivePage.Name</h2>
            <EditPage CurrentPage="ActivePage" OnChange="@StateHasChanged"/>
        }
    </div>
    <!-- End Body -->
</div>
