@if (Node != null)
{
    <div class="node-item m-0 p-0" data-id="@(Node.Id)" id="@($"node-{Node.Id}")">
        <div class="node-label">
            <div class="node-icons @(ActivePage?.Id == Node.Id ? "selected" : "")">
                @if (Node.Pages != null && Node.Pages.Count > 0)
                {
                    if (IsExpanded(Node.Id ?? string.Empty))
                    {
                        <HxButton Icon="@BootstrapIcon.CaretDownFill" CssClass="border-0 p-0" OnClick="() => {
                            ExpandedNodes.Remove(Node.Id ?? string.Empty);
                            StateHasChanged();
                        }" />
                        <HxIcon Icon="@FontAwesome.FolderOpen" />
                    }
                    else
                    {
                        <HxButton Icon="@BootstrapIcon.CaretRightFill" CssClass="border-0 p-0" OnClick="() => {
                            ExpandedNodes.Add(Node.Id ?? string.Empty);
                            StateHasChanged();
                        }" />
                        <HxIcon Icon="@FontAwesome.Folder" />
                    }
                }
                else
                {
                    <HxIcon Icon="@BootstrapIcon.CaretRightFill" CssClass="transparent" />
                    <HxIcon Icon="@FontAwesome.Folder" />
                }
            </div>
            <div @onclick="@OnNodeClick" class="node-title @(ActivePage == Node ? "fw-bold": "")">@Node.Name</div>
        </div>
        @if (Node != null && Node.Pages != null && Node.Pages.Count > 0 && IsExpanded(Node.Id ?? string.Empty))
        {
            <div class="node-children @(Parent?.Dragging == true ? "dragging" : "")">
                <DragDropList Items="Node.Pages" TItem="Page" Verify="@AcceptDrop">
                    <ItemTemplate>
                        <AdminContentItem Node="@context"
                                  ActivePage="@ActivePage"
                                  NodeClick="@NodeClick"
                                  ExpandedNodes="@ExpandedNodes" />
                    </ItemTemplate>
                </DragDropList>
            </div>
        }
    </div>
}
