<div id="bottom-sheet" class="overlay @(IsOpen ? "active": "")">
    <aside class="social" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <HxButton OnClick="@Dismiss">
            <HxIcon Icon="@BootstrapIcon.X" />
        </HxButton>

        <h5>Reorder Sections</h5>
        <p class="mat-body">Drag and drop sections to reorder</p>
        @if (page != null && page.Sections != null && page.Sections.Any())
        {
            <DragDropList Items="page.Sections">
                <ItemTemplate>
                    <HxCard CssClass="mb-2">
                        <HxIcon Icon="@GetIcon(context)"></HxIcon>
                        @context.Name.ToString().Replace("Section"," Section")
                    </HxCard>
                </ItemTemplate>
            </DragDropList>
        }
    </aside>
</div>

@code {
    [Inject] Page? page { get; set; }
    bool IsOpen = false;

    public BootstrapIcon GetIcon(PageSection section)
    {
        return section.Name switch
        {
            SectionType.BannerSection => BootstrapIcon.Camera,
            SectionType.TextSection => BootstrapIcon.Justify,
            SectionType.GallerySection => BootstrapIcon.ViewList,
            SectionType.HtmlSection => BootstrapIcon.Code,
            SectionType.ChildrenSection => BootstrapIcon.List,
            _ => BootstrapIcon.Exclamation
        };
    }

    public void Dismiss()
    {
        IsOpen = false;
        StateHasChanged();
    }

    public void Open()
    {
        IsOpen = true;
        StateHasChanged();
    }
}
