<nav class="navbar navbar-expand-lg navbar-light"
    style="backgroundColor: @headerBackground; color: @headerColour">
        <img src="/assets/favicon-32x32.png" alt="Administration" />
        <NavLink class="nav-link" href="/admin" style="color: @headerColour">Content</NavLink>
        <NavLink class="nav-link" href="/admin/library" style="color: @headerColour">Image Library</NavLink>
        <NavLink class="nav-link" href="/admin/settings" style="color: @headerColour">Settings</NavLink>
        <span class="example-spacer"></span>
        <NavLink class="nav-link" href="/"  style="color: @headerColour">View Site</NavLink>
</nav>
<div class="nav-spacer"></div>

@code {
    const string headerColour = "#FFF";
    const string headerBackground = "#000066";
}
