@inject IHxMessageBoxService _messageBoxService

@if (CurrentPage != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <HxInputText Label="Page name"
                         Hint="The name of the page is displayed as the title. It is also displayed in the navigation bar at the top if the is more than a single page in the site."
                         @bind-Value="@CurrentPage.Name"
                         Placeholder="Page name" />
            </div>
            <div class="col-sm-6">
                <HxInputText Hint="The Url fragment is the identifier for the page that appears in the browsers navigation bar after the domain. It should be short and not containing any spaces. It must be unique and for the home page can be empty."
                         @bind-Value="@CurrentPage.Url"
                         Label="Url fragment"
                         Placeholder="Url" />
            </div>
        </div>
    </div>

    <div style="text-align: right">
        <HxDropdownButtonGroup Direction="DropdownDirection.Down">
            <HxDropdownToggleButton Color="@ThemeColor.Primary" Icon="@BootstrapIcon.PlusCircle" Text="Add Section" />
            <HxDropdownMenu>
                <HxDropdownItem OnClick="@AddBanner"><HxIcon Icon="@BootstrapIcon.Camera" /> Add banner image</HxDropdownItem>
                <HxDropdownItem OnClick="@AddText"><HxIcon Icon="@BootstrapIcon.Justify" /> Add text block</HxDropdownItem>
                <HxDropdownItem OnClick="@AddGallery"><HxIcon Icon="@BootstrapIcon.Image" /> Add image gallery</HxDropdownItem>
                <HxDropdownItem OnClick="@AddHtml"><HxIcon Icon="@BootstrapIcon.Code" /> Add HTML block</HxDropdownItem>
                <HxDropdownItem OnClick="@AddChildren"><HxIcon Icon="@BootstrapIcon.Diagram3" /> Add child page list</HxDropdownItem>
            </HxDropdownMenu>
        </HxDropdownButtonGroup>
        <HxButton CssClass="m-2" Color="@ThemeColor.Primary" OnClick="@SortSections" Icon="@BootstrapIcon.SortAlphaDown" Text="Sort Sections" />
    </div>

    <HxAccordion>
        @foreach (var (section, i) in CurrentPage.Sections.Select((section, i) => (section, i)))
        {
            <HxAccordionItem>
                <HeaderTemplate>
                    <div class="row w-100 align-items-center">
                        <div class="col-3 d-flex align-items-center">
                            <HxIcon Icon="GetIcon(section)" CssClass="fa-2x" />
                            <div class="ps-3">@(section.Name.ToString().Replace("Section", " Section"))</div>
                        </div>
                        <div class="col-9">
                            @SectionDescription(section)
                        </div>
                    </div>
                </HeaderTemplate>
                <BodyTemplate>
                    <div class="text-end mb-2">
                        <HxButton Color="@ThemeColor.Danger" OnClick="@(async(MouseEventArgs _) => await Remove(section))">Delete</HxButton>
                    </div>
                    <EditSection Section="section" SectionChanged="@((s) => SectionChanged(s, i))" OnChange="@StateHasChanged" />
                </BodyTemplate>
            </HxAccordionItem>
        }
    </HxAccordion>
}
else
{
    <div>Please select page...</div>
}

<AdminSortSections CurrentPage="@CurrentPage" @ref="sorter" OnChange="@Change" />


