<MatDialogTitle style="display: flex; align-items: center;">
    <div style="flex: 1;">Select Folder</div>
    <div @onclick="@(_=>CloseDialog())" style="cursor: pointer;">
        <MatIcon Icon="@MatIconNames.Close"></MatIcon>
    </div>
</MatDialogTitle>
<MatDialogContent>
    <MediaTree SelectedChanged="@FolderChanged"></MediaTree>
</MatDialogContent>
<MatDialogActions>
    <MatButton OnClick="@SelectFolder"><MatIcon>@MatIconNames.Check</MatIcon> @Text</MatButton>
    <MatButton OnClick="@CloseDialog"><MatIcon>@MatIconNames.Close</MatIcon> Cancel</MatButton>
</MatDialogActions>

@code {
    [Parameter]
    public MatDialogReference? DialogReference { get; set; }

    [Parameter]
    public string Text { get; set; } = "Select Folder";

    private GalleryFolder? selectedFolder;

    public void FolderChanged(GalleryFolder folder)
    {
        selectedFolder = folder;
    }

    public void CloseDialog()
    {
        DialogReference?.Close(null);
    }

    public void SelectFolder()
    {
        DialogReference?.Close(selectedFolder);
    }
}
