@using System.Reactive
@using SimpleCmsBlazor.Services
@implements IDisposable

<div @ref=galleryContainer class="galleryContainer">
    <div class="innerGalleryContainer">
        @foreach (var imgRow in gallery.Skip(rowIndex).Take(RowsPerPage))
        {
            <div class="imagerow" style="margin-bottom: @(margin)px">
                @foreach (var img in imgRow)
                {
                    <img class="thumbnail" @onclick="(() => OpenImageViewer(img))" style="width: @(img.Width)px; height: @(img.Height)px; background: @img.DominantColour; margin-right: @(margin)px" src="@img.SrcAfterFocus" alt="@img.Description" />
                }
            </div>
        }
    </div>

    @if (!rightArrowInactive || !leftArrowInactive)
    {
        <div class="pagerContainer">
            <img class="pager left @(leftArrowInactive ? "inactive" : "")"
             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwYXRoIGQ9Ik0yNCw0NkMxMS45LDQ2LDIsMzYuMSwyLDI0UzExLjksMiwyNCwyczIyLDkuOSwyMiwyMlMzNi4xLDQ2LDI0LDQ2eiBNMjQsNEMxMyw0LDQsMTMsNCwyNGMwLDExLDksMjAsMjAsMjAgICBjMTEsMCwyMC05LDIwLTIwQzQ0LDEzLDM1LDQsMjQsNHoiLz48L2c+PGc+PHBvbHlnb24gcG9pbnRzPSIyNy42LDM2LjcgMTQuOSwyNCAyNy42LDExLjMgMjkuMSwxMi43IDE3LjgsMjQgMjkuMSwzNS4zICAiLz48L2c+PC9zdmc+"
             @onclick="() => Navigate(-1)"
             alt="←" />
            <img class="pager right @(rightArrowInactive ? "inactive" : "")"
             src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaWQ9IkxheWVyXzEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ4IDQ4OyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNDggNDgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwYXRoIGQ9Ik0yNCw0NkMxMS45LDQ2LDIsMzYuMSwyLDI0UzExLjksMiwyNCwyczIyLDkuOSwyMiwyMlMzNi4xLDQ2LDI0LDQ2eiBNMjQsNEMxMyw0LDQsMTMsNCwyNHM5LDIwLDIwLDIwczIwLTksMjAtMjAgICBTMzUsNCwyNCw0eiIvPjwvZz48Zz48cG9seWdvbiBwb2ludHM9IjIxLjQsMzYuNyAxOS45LDM1LjMgMzEuMiwyNCAxOS45LDEyLjcgMjEuNCwxMS4zIDM0LjEsMjQgICIvPjwvZz48L3N2Zz4="
             @onclick="() => Navigate(1)"
             alt="→" />
        </div>
    }
</div>

@code {
    private List<List<GalleryImage>> gallery = new();
    private List<GalleryImage> _images = new();
    private IDisposable? viewerSubscription;
    private int rowIndex = 0;
    private bool rightArrowInactive = false;
    private bool leftArrowInactive = false;
    private ElementReference galleryContainer;
    private decimal margin = 1.0M;
    private bool readyToRender = false;

    private PageSection _sourceData = new();
    [Parameter]
    public PageSection SourceData { get; set; } = new();

    [Parameter]
    public int ImageMargin { get; set; } = 3;
    public int ImageSize { get; set; } = 7;
    public string GalleryName { get; set; } = string.Empty;
    public int RowsPerPage { get; set; } = 200;
    public string MinimalQualityCategory = "previewSmall";

    [Parameter]
    public EventCallback<bool> OnViewerChange { get; set; }

    [Inject]
    public IJSRuntime? runtime { get; set; }

    [Inject]
    public IImageService? imageService { get; set; }

    [Inject]
    public IConfiguration? Config { get; set; }

    protected override void OnInitialized()
    {
        _sourceData = SourceData;
        FetchData();
        if (imageService == null) throw new NullReferenceException("Image service failed to load");
        viewerSubscription = imageService.ShowImageViewerChanged.Subscribe<bool>(visibility => OnViewerChange.InvokeAsync(visibility));
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            readyToRender = true;
            await RenderAsync();
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (_sourceData != SourceData)
        {
            _sourceData = SourceData;
            FetchData();
        }
        if (readyToRender)
        {
            await RenderAsync();
        }
    }

    void IDisposable.Dispose()
    {
        if (viewerSubscription != null)
            viewerSubscription.Dispose();
    }

    public void OpenImageViewer(GalleryImage img)
    {
        if (imageService != null)
        {
            imageService.UpdateImages(_images);
            imageService.UpdateSelectedImageIndex(_images.IndexOf(img));
            imageService.ShowImageViewer(true);
        }
    }

    /**
     * direction (-1: left, 1: right)
     */
    public void Navigate(int direction)
    {
        if ((direction == 1 && rowIndex < gallery.Count - RowsPerPage) ||
            (direction == -1 && rowIndex > 0))
        {
            rowIndex += RowsPerPage * direction;
        }
        RefreshNavigationErrorState();
    }

    public decimal CalcImageMargin(decimal galleryWidth)
    {
        var ratio = galleryWidth / 1920.0M;
        margin = Math.Max(1.0M, ImageMargin * ratio);
        return margin;
    }

    private void FetchData()
    {
        if (_sourceData != null && _sourceData.Images != null)
        {
            _images = _sourceData.Images;
        }
        else
        {
            _images = new();
        }

        imageService?.UpdateImages(_images);
        foreach (var image in _images)
        {
            image.GalleryImageLoaded = false;
            image.ViewerImageLoaded = false;
            image.SrcAfterFocus = string.Empty;
        }
    }

    private async Task RenderAsync()
    {
        var galleryWidth = await GetGalleryWidth();
        if (galleryWidth > 0 && _images.Count > 0)
        {
            gallery = new();

            var tempRow = new List<GalleryImage>();
            tempRow.Add(_images[0]);
            int i = 0;

            while (i < _images.Count)
            {
                while (i + 1 < _images.Count && AddCandidateIfWidthAvailable(tempRow, _images[i + 1], galleryWidth)
                    && (tempRow.Sum(x => x.Width) + (CalcImageMargin(galleryWidth) * tempRow.Count) < galleryWidth))
                {
                    i++;
                }
                if (i + 1 < _images.Count && tempRow.Any())
                {
                    tempRow.RemoveAt(tempRow.Count - 1);
                }
                if (tempRow.Any()) gallery.Add(tempRow);
                tempRow = new();
                if (i + 1 < _images.Count)
                {
                    tempRow.Add(_images[i + 1]);
                }
                i++;
            }
            if (tempRow.Any()) gallery.Add(tempRow);
            ScaleGallery(galleryWidth);
        }
    }

    private bool AddCandidateIfWidthAvailable(List<GalleryImage> imgRow, GalleryImage candidate, decimal galleryWidth)
    {        
        var oldDifference = CalcIdealHeight(galleryWidth) - CalcRowHeight(imgRow, galleryWidth);
        imgRow.Add(candidate);
        var newDifference = CalcIdealHeight(galleryWidth) - CalcRowHeight(imgRow, galleryWidth);
        return Math.Abs(oldDifference) > Math.Abs(newDifference);
    }

    private decimal CalcRowHeight(List<GalleryImage> imgRow, decimal galleryWidth)
    {
        var originalRowWidth = CalcOriginalRowWidth(imgRow, galleryWidth);
        var ratio = (galleryWidth - (imgRow.Count - 1) * CalcImageMargin(galleryWidth)) / originalRowWidth;
        return GetMinimumQualityHeight(imgRow[0]) * ratio;
    }

    private decimal CalcOriginalRowWidth(List<GalleryImage> imgRow, decimal galleryWidth)
    {
        var originalRowWidth = 0.0M;
        foreach (var img in imgRow)
        {
            var individualRatio = CalcIdealHeight(galleryWidth) / GetMinimumQualityHeight(img);
            SetMinimumQualityWidth(img, GetMinimumQualityWidth(img) * individualRatio);
            SetMinimumQualityHeight(img, CalcIdealHeight(galleryWidth));
            originalRowWidth += GetMinimumQualityWidth(img);
        }
        return originalRowWidth;
    }

    private decimal GetMinimumQualityHeight(GalleryImage image)
    {
        return MinimalQualityCategory switch
        {
            "previewSmall" => image.PreviewSmallHeight,
            "previewMedium" => image.PreviewMediumHeight,
            "previewLarge" => image.PreviewLargeHeight,
            _ => image.RawHeight
        } ?? 1;
    }

    private void SetMinimumQualityHeight(GalleryImage image, decimal value)
    {
        switch (MinimalQualityCategory)
        {
            case "previewSmall":
                image.PreviewSmallHeight = value;
                break;

            case "previewMedium":
                image.PreviewMediumHeight = value;
                break;

            case "previewLarge":
                image.PreviewLargeHeight = value;
                break;

            default:
                image.RawHeight = value;
                break;
        }
    }

    private decimal GetMinimumQualityWidth(GalleryImage image)
    {
        return MinimalQualityCategory switch
        {
            "previewSmall" => image.PreviewSmallWidth,
            "previewMedium" => image.PreviewMediumWidth,
            "previewLarge" => image.PreviewLargeWidth,
            _ => image.RawWidth
        } ?? 1;
    }

    private void SetMinimumQualityWidth(GalleryImage image, decimal value)
    {
        switch (MinimalQualityCategory)
        {
            case "previewSmall":
                image.PreviewSmallWidth = value;
                break;

            case "previewMedium":
                image.PreviewMediumWidth = value;
                break;

            case "previewLarge":
                image.PreviewLargeWidth = value;
                break;

            default:
                image.RawWidth = value;
                break;
        }
    }

    private decimal CalcIdealHeight(decimal galleryWidth) => galleryWidth / (80.0M / ImageSize) + 100;

    private async Task<decimal> GetGalleryWidth()
    {
        if (runtime == null) return 0;
        var result = await runtime.InvokeAsync<decimal>("GetClientWidth", galleryContainer) - 20;
        return result;
    }

    private void ChooseThumbnailSize(GalleryImage image)
    {        
        image.SrcAfterFocus = $"{Config?.GetValue<string>("StorageUrl") ?? string.Empty}/images/{GetMinimumQualityPath(image)}";
    }

    private string GetMinimumQualityPath(GalleryImage image)
    {
        return MinimalQualityCategory switch
        {
            "previewSmall" => image.PreviewSmallPath,
            "previewMedium" => image.PreviewMediumPath,
            "previewLarge" => image.PreviewLargePath,
            _ => image.RawPath
        } ?? string.Empty;
    }

    private void ScaleGallery(decimal galleryWidth)
    {
        var maximumGalleryImageHeight = 0.0M;

        foreach (var imgRow in gallery.Skip(rowIndex).Take(RowsPerPage))
        {
            var originalRowWidth = CalcOriginalRowWidth(imgRow, galleryWidth);

            if (imgRow != gallery.Last())
            {
                var ratio = (galleryWidth - (imgRow.Count - 1) * CalcImageMargin(galleryWidth)) / originalRowWidth;
                foreach(var img in imgRow)
                {
                    img.Width = GetMinimumQualityWidth(img) * ratio;
                    img.Height = GetMinimumQualityHeight(img) * ratio;
                    maximumGalleryImageHeight = Math.Max(maximumGalleryImageHeight, img.Height);
                    ChooseThumbnailSize(img);
                }
            }
            else
            {
                foreach (var img in imgRow)
                {
                    img.Width = GetMinimumQualityWidth(img);
                    img.Height = GetMinimumQualityHeight(img);
                    maximumGalleryImageHeight = Math.Max(maximumGalleryImageHeight, img.Height);
                    ChooseThumbnailSize(img);
                }
            }
        }

        MinimalQualityCategory = "previewSmall";        
        if (maximumGalleryImageHeight > 375) MinimalQualityCategory = "previewMedium";
        if (maximumGalleryImageHeight > 768) MinimalQualityCategory = "previewLarge";
        if (maximumGalleryImageHeight > 1080) MinimalQualityCategory = "raw";

        RefreshNavigationErrorState();
        StateHasChanged();
    }

    private void RefreshNavigationErrorState()
    {
        leftArrowInactive = rowIndex == 0;
        rightArrowInactive = rowIndex > gallery.Count - RowsPerPage;
    }
}
