<div style="background-color: @(Site?.HeaderBackground ?? "none"); color: @(Site?.HeaderColour ?? "none")">
    <HxNavbar Color="@ThemeColor.None">
        <HxNavbarBrand>
            @if (Site?.HasLogo == true)
            {
                <NavLink href="/" style="@LogoStyle">
                    <div class="logo-background" style="background-color: @(Site?.HeaderBackground ?? "none")"></div>
                    <img src=@Logo alt=@(Site?.Name ?? string.Empty) />
                </NavLink>
            }
            else
            {
                <NavLink href="/" class="navbar-brand" style=@LogoStyle>
                    @Site?.Name
                </NavLink>
            }
        </HxNavbarBrand>
        @if (Site != null && Site.Pages != null && Site.Pages.Count > 1)
        {
            <HxNavbarToggler />
            <HxNavbarCollapse>
                <HxNav CssClass="me-auto">
                    @foreach (var p in Site.Pages)
                    {
                        <HxNavLink href="@p.Url" style=@LogoStyle>@p.Name</HxNavLink>
                    }
                </HxNav>
            </HxNavbarCollapse>
        }
    </HxNavbar>
</div>

@code {
    [Parameter]
    public Site? Site { get; set; }

    [Inject]
    public IConfiguration? Config { get; set; }

    public string Logo => $"{Config?.GetValue<string>("StorageUrl") ?? string.Empty}/images/logo.png";

    public string LogoStyle => $"color: {Site?.HeaderColour ?? "black"}";
}
