@if (Folder != null)
{
    <div class="node-item m-0 p-0" data-id="@(Folder.RowKey)" id="@($"node-{Folder.RowKey}")">
        <div class="node-label">
            <div @onclick="@OnNodeClick" class="node__label @(ActiveFolder?.RowKey == Folder.RowKey ? "selected" : "")">
                @if (HasChildren(Folder.RowKey))
                {
                    if (IsExpanded(Folder.RowKey))
                    {
                        <HxIcon Icon="@BootstrapIcon.CaretDownFill" />
                        <HxIcon Icon="@FontAwesome.FolderOpen" />
                    }
                    else
                    {
                        <HxIcon Icon="@BootstrapIcon.CaretRightFill" />
                        <HxIcon Icon="@FontAwesome.Folder" />
                    }
                }
                else
                {
                    <HxIcon Icon="@BootstrapIcon.CaretRightFill" CssClass="transparent" />
                    <HxIcon Icon="@FontAwesome.Folder" />
                }
            </div>
            <div @onclick="@OnNodeClick" class="node-title">@Folder.Name</div>
        </div>
        @if (HasChildren(Folder.RowKey) && IsExpanded(Folder.RowKey))
        {
            <div class="node-children" id="@Folder.RowKey">
                <DragDropList Items="GetChildren(Folder.RowKey)" TItem="GalleryFolder" OnItemDroppedOnTarget="DropItem" Verify="@AcceptDrop">
                    <ItemTemplate>
                        <MediaTreeItem Folders="@Folders" CanMove="true" Folder="@context" ActiveFolder="@ActiveFolder" NodeClick="@NodeClick" ExpandedNodes="@ExpandedNodes" />
                    </ItemTemplate>
                </DragDropList>
            </div>
        }
    </div>
}


