@using SimpleCmsBlazor.Services
@inject IBrowserResizeService _resize
@inject NavigationManager _navigationManager
@inject IConfiguration Config

@if (_section.Name == SectionType.GallerySection)
{
    <div class="container-fluid">
        @if (!string.IsNullOrWhiteSpace(_section.GalleryName))
        {
            <h1 class="text-center">@_section.GalleryName</h1>
        }
        <Gallery SourceData=@_section></Gallery>
    </div>
}
else if (_section.Name == SectionType.BannerSection)
{
    <div class="jumbotron jumbotron-fluid banner">
        <img src="@BannerUrl" alt="" />
    </div>
}
else if (_section.Name == SectionType.HtmlSection)
{
    <div>@((MarkupString)(_section.Html ?? ""))</div>
}
else if (_section.Name == SectionType.ChildrenSection)
{
    <div class="margin-fix" style=@SectionStyle data-url="@BackgroundUrl">
        <div class="container" style=@ContainerStyle>
            <div class="links">
                @foreach (var p in _page.Pages)
                {
                    <NavLink class="page-link" href="@(_navigationManager.Uri + '/' + p.Url)" style=@LinkStyle>@p.Name</NavLink>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="margin-fix" style=@SectionStyle data-url="@BackgroundUrl">
        <div class="container" style=@ContainerFilterStyle>
            <BlazorMarkdown Text=@(_section.Text ?? string.Empty)></BlazorMarkdown>
        </div>
    </div>
}



@code {
    [Parameter]
    public Models.PageSection _section { get; set; } = new();

    [Parameter]
    public Page _page { get; set; } = new();

    public decimal Height { get; set; } = 100;
    public decimal Width { get; set; } = 1000;

    private IDisposable? resizeSubscription;

    protected override void OnInitialized()
    {
        resizeSubscription = _resize.OnResize.Subscribe(o => OnResize(o.Item1, o.Item2));
    }

    private void OnResize(decimal width, decimal height)
    {
        Width = width;
        var s = _section;
        if (s != null && s.Image != null)
        {
            var h = s.Image.RawHeight ?? 1;
            var w = s.Image.RawWidth ?? 1;
            var ar = h / w;
            Height = ar * width;
        }

        Height = height;
        StateHasChanged();
    }

    public string BannerUrl
    {
        get
        {
            var bannerSection = _section;

            if (Width < (bannerSection?.Image?.PreviewSmallWidth ?? 0))
                return bannerSection?.Image?.PreviewSmallPath ?? string.Empty;

            if (Width < (bannerSection?.Image?.PreviewMediumWidth ?? 0))
                return bannerSection?.Image?.PreviewMediumPath ?? string.Empty;

            if (Width < (bannerSection?.Image?.PreviewLargeWidth ?? 0))
                return bannerSection?.Image?.PreviewLargePath ?? string.Empty;

            return bannerSection?.Image?.RawPath ?? string.Empty;
        }
    }

    public string BackgroundUrl
    {
        get
        {
            if (!string.IsNullOrWhiteSpace(BannerUrl))
            {
                return $"linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(\"{Config?.GetValue<string>("StorageUrl") ?? string.Empty}/images/{BannerUrl}\")";
            }
            return "none";
        }
    }

    public string TextFilter
    {
        get
        {
            if (!string.IsNullOrWhiteSpace(_section.BackgroundColour))
            {
                return $"drop-shadow(0 0 0.75rem {_section.BackgroundColour}) drop-shadow(0 0 0.25rem {_section.BackgroundColour})";
            }
            return "none";
        }
    }

    public void Dispose()
    {
        resizeSubscription?.Dispose();
    }

    public string bc => _section.BackgroundColour ?? "none";
    public string bp => _section.BackgroundAlign ?? "left";
    public string c => _section.Colour ?? "black";
    public string a => _section.Align ?? "left";

    public string SectionStyle => $"background-color: {bc}; background-position: {bp}; background-image: {BackgroundUrl}; background-size: cover";
    public string ContainerStyle => $"color: {c}; text-align: {a}";
    public string ContainerFilterStyle => $"color: {c}; filter: {TextFilter}; text-align: {a}";
    public string LinkStyle => $"color: {c}; border-color: {c}";
}
